# This is roughly equivalent to the imapfilter-git service in the
# docker-stack example.
kind: Deployment
apiVersion: apps/v1
metadata:
  name: imapfilter
  labels:
    app: imapfilter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: imapfilter
  template:
    metadata:
      labels:
        app: imapfilter
    spec:
      containers:
        - name: imapfilter-git
          image: ntnn/imapfilter:latest
          imagePullPolicy: Always
          env:
            - name: GIT_USER
              value: my_git_user
            - name: GIT_TARGET
              value: https://my.git.repo/imapfilter-configs.git
            - name: IMAPFILTER_CONFIG
              value: config.lua
            - name: IMAPFILTER_DAEMON
              value: yes
          envFrom:
            # This assumes a secret with one key GIT_TOKEN
            - secretRef:
                name: git-token
            # This assumes a secret with one key that is read by the config.lua
            - secretRef:
                name: email-password
